/* 
Color Palette: https://www.color-hex.com/color/1467a6
*/

* {
    box-sizing: border-box;
  }

.avatar {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 1px;
}

.avatar img {
    height: 500px;
}

body {
    background-color: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.business-card {
    text-align: center;
    margin-bottom: 10%;
}

.business-card p {
    color: #1467A6;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 5px;
}

.main-title {
    color: #444545 !important;
    vertical-align: center;
    margin-top: 10px;
    margin-bottom: 2%;
    font-size: 140px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.main-title p , .main-title div {
    display: block;
}

.subheaders {
    columns: 1;
    text-align: left;
}


.typer p.type {
    border-right: .03em solid grey;
    margin: 0 auto;
    overflow: auto;
    white-space: no-wrap;
    max-width: 83%;
    animation: 
    typing 2.5s steps(30, end),
    blink-caret 1s step-end infinite;
}

.text-typed-dot {
    color: #669cc4;
}

.personal-name {
    font-weight: bolder;
}

.menu {
    text-align: center;
}

.menu li {    
    font-size: 30px;
    padding-right: 50px;
    margin-right: 30px;
}

.menu li:not(.menu-box) {
    border-right: solid 1px #1467A6;
}

.menu li a {
    text-decoration: none;
    color: #525253;
}

.section {
    margin: 10px 10px 10px 10px;
    border: solid 1px #1467A6;
    padding: 10px 30px 30px 50px;
    border-radius: 10px;
    background-color: #005B9D;
}

.section h4 {
    font-size: 25px;
    font-weight: 350;
    color: white;
}

.section p {
    font-weight: 250;
    text-align: left;
    color: white;
}

.space-dot {
   text-align: center;
}

.space-dot p {
    text-align: center;
    font-size: 140px;
    padding: 0;
    margin: 0 auto;
    color: grey;
}

.curly {
    color: #1467A6;
}

.social {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 50px;
}

.social p {
    display: inline;
    padding-right: 30px;
}

.social a {
    color: #000;
    text-decoration: none;
}

p.date {
    font-weight: 50;
    color: #669cc4;
}

p.position {
    color: #e5eef5;
}

.work-link a {
    color: #e5eef5;
    font-size: 13px;
}

/* Mobile Portrait */

@media only screen  and (orientation: portrait) { 
    

    .avatar {
        margin-top: 0;
        text-align: center;
        margin-bottom: 1px;
    }

    .avatar img {
        height: 600px;
    }

    .business-card {
        text-align: center;
        margin-bottom: 10%;
    }
    
    .business-card p {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        line-height: 5px;
    }

    .first-section {
        margin-top: 200px;
    }

    .menu li {
        display: block;
        line-height: 80px;
        border-bottom: solid 1px #1467A6;
    }

    .menu li:not(.menu-box) {
        border-right: none;
    }

    .menu li a {
        font-size: 60px;
        border-right: none;
    }

    .desktop {
        display: none;
    }

    /* Animation typing */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: grey }
  }

    .icon-land {
        display: none;
    }

    .icon-port {
        display: inline;
    }

}

/* Mobile Landscape */

@media only screen  and (orientation: landscape) {

    .avatar {
        top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .avatar img {
        height: 200px;
    }

    .main-title {
        margin-top: 40px;
        margin-bottom: 0%;
    }

    .business-card p {
        font-size: 30px;
        line-height: 5px;
    }


    .main-title {
        margin-top: 0px;
        margin-bottom: 2%;
        font-size: 100px;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }

    .typer p.type {
        border-right: .03em solid grey;
        margin: 0 auto;
        overflow: auto;
        white-space: no-wrap;
        max-width: 60%;
        animation: 
        typing 2.5s steps(30, end),
        blink-caret 1s step-end infinite;
    }

    .menu {
        text-align: center;
    }

    .menu li {
        display: inline;
        font-size: 30px;
        padding-right: 50px;
        margin-right: 30px;
    }

    .menu li:not(.menu-box) {
        border-right: solid 1px #1467A6;
    }

    .menu li a {
        text-decoration: none;
        color: #525253;
    }

    .social {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 100px;
    }

    .desktop {
        display: none;
    }

    .icon-land {
        display: inline;
    }

    .icon-port {
        display: none;
    }

}

    /* For desktop: */
@media only screen and (min-width : 992px) {

    .avatar {
        margin-top: 0;
        margin-bottom: 0;
    }

    .avatar img {
        height: 320px;
    }

    .business-card {
        margin-left: 49%;
        text-align: left;
        margin-bottom: 10%;
    }
    
    .business-card p {
        color: #1467A6;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        line-height: 7px;
    }
    
    .main-title {
        margin-top: 10px;
        margin-bottom: 2%;
        font-size: 11vw;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }
    
    .main-title p , .main-title div {
        display: block;
    }
    
    
    .typer p.type {
        border-right: .03em solid grey;
        margin: 0 auto;
        overflow: auto;
        white-space: no-wrap;
        max-width: 64%;
        animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
    }


    .menu {
        text-align: center;
    }

    .menu li {
        display: inline;
        font-size: 30px;
        padding-right: 50px;
        margin-right: 30px;
    }

    .menu li:not(.menu-box) {
        border-right: solid 1px #1467A6;
    }

    .menu li a {
        text-decoration: none;
        color: #525253;
    }

    
    /* Animation typing */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: grey }
      }
    
    .curly {
        color: #1467A6;
    }
    
    .social {
        text-align: center;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 21%;
    }
    
    .social p {
        display: inline;
        padding-right: 30px;
    }
    
    .social a {
        color: #1467A6;
        text-decoration: none;
    }

    .first-section {
        margin-top: 100px;
    }

    .subheaders {
        columns: 2;
    }

    .mobile {
        display:none;
    }

    .desktop {
        display: block;
    }

  }